.nav{
    background-color: green;
}

#text{                                   /*estilo a fondo de texto CESAR*/
    background-color: aliceblue;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 20px;
}

/*
.jobs{                                     degrade de color al fondo de la division CESAR
    background:linear-gradient(45deg,red,blue)
    

}

.info{                                      degrade de color al fondo de la division CESAR
    background: linear-gradient(-90deg,blue,maroon);
}*/

#section{                                   /*background section CESAR*/
    background: linear-gradient(-90deg,blue,maroon);
}
.img{                     /*se estiliza las imagenes CESAR*/
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    background-color: maroon;
}

.footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 31%, rgba(5,108,129,1) 100%);
    padding: 2.2rem;
    text-align: center;
}

.textFooterCopyright {
    color: aliceblue;
    margin: 0;
}

.textFooterLinkWebSite{
    color: aliceblue;
    margin: 0;
    padding-bottom: 40px;

}

a {
    text-decoration: none;
}
