.nav{
    background-color: green;
}

.jobs{
    background-color: red;
}

.info{
    background-color: blue;
}

.footer {
    background-color: #051B7B;
    padding: 2.2rem;
    text-align: center;
}

footer p {
    color: aliceblue;
    margin: 0;
}